In [ ]:
!pip install pyspark

In [ ]:
# !pip install findspark

In [ ]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages=org.apache.hadoop:hadoop-aws:2.7.3 pyspark-shell"

In [ ]:
# to be uncommented when running script
# import findspark
# findspark.init()

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# defeining the access keys
access_id =  "AKIASCVPXXOPUD2DQ3QU"
access_key = "ZGl/NOCpIO7coE64d8fsvvn/EZ9EQ+7wbPLLqlIc"

## Setting up the configurations

In [ ]:
# sc.stop()

In [ ]:
# To create SparkContext
# from pyspark import SparkContext
import pyspark

sc=pyspark.SparkContext()

hadoop_conf=sc._jsc.hadoopConfiguration()

In [ ]:
hadoop_conf.set("fs.s3a.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
hadoop_conf.set("fs.s3a.awsAccessKeyId", access_id)
hadoop_conf.set("fs.s3a.awsSecretAccessKey", access_key)
hadoop_conf.set("fs.s3.buffer.dir", "${hadoop.tmp.dir}/s3")
hadoop_conf.set("fs.s3a.buffer.dir", "${hadoop.tmp.dir}/s3a")

## Extract Layer

In [ ]:
df=sc.textFile("s3a://airlines123/airline/airlines1.csv")

In [ ]:
df.collect()

## Transform Layer

In [ ]:
Ardd = df.map(lambda x: x.replace(', ',' ').split(','))

In [ ]:
AirlineRdd=Ardd.map(lambda x: Row(Year=x[1],FlightDate=x[6]))

### Converting RDD to Dataframe

In [ ]:
from pyspark import SQLContext
from pyspark.sql import Row

In [ ]:
# setting up the sql context
sqlContex = SQLContext(sc)

In [ ]:
AirlineDf = sqlContex.createDataFrame(AirlineRdd)

In [ ]:
# seleting the years
AirlineDf.select('Year','FlightDate').show()

In [ ]:
# How many flights are running each year
AirlineDf.select('Year').groupBy("Year").count().show()

In [ ]:
#convert dataframe into Rdds
rdds = AirlineDf.rdd

In [ ]:
rdds.collect()

## Loading Layer

In [ ]:
rdds.repartition(1).saveAsTextFile("s3a://airlines123/testsample/report")